target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/java/com/agropulse/infrastructure/config/DataInitializer.java
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.idea_modules/

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
*.log
